[submodule "Vapp"]
	path = Vapp
	url = https://github.com/jehyngn/Vapp.git
	branch = main
[submodule "velocitas_app"]
	path = velocitas_app
	url = https://github.com/jehyngn/Vapp.git
	branch = main
[submodule "Velocitas-App"]
	path = Velocitas-App
	url = https://github.com/jehyngn/Velocitas-App.git
	branch = main
[submodule "DrivingAssessmentApp"]
	path = DrivingAssessmentApp
	url = https://github.com/jehyngn/Vapp.git
